.canvas-wrapper {
    position: relative;
}
.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#palette {
    position: relative;
    left: 350px;
}
#palette .palette1 {
    position: absolute;
}
#palette .palette2 {
    position: absolute;
    left: 200px;
}
#palette .palette3 {
    position: absolute;
    left: 400px;
}
#palette div ul li span {
    font-size: x-large;
}